
  body {
    min-width: 520px;
  }
  .column {
    width: 25%;
    float: left;
    padding-bottom: 100px;
  }
  .portlet {
    margin: 0 1em 1em 0;
    padding: 0.3em;
  }
  .portlet ul {
    width: 100%;
    height: 100%;
    list-style-type: none;
    padding: 0 2px 2px 2px;
    margin: 0 2px 2px 2px;
  } 
  .portlet ul li {
    padding-top: 2px;
  }
  .portlet-header {
    padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
    position: relative;
  }
  .portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
  }
  .li-toggle {
    left: 0;
    position: relative;
  }
  .portlet-content {
    padding: 0.4em;
  }
  .portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
  }
  .header {
    width: 100%;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
  }
  .columns {
    width: 100%;
    position:relative;
    top: 0px;
    left: 15px;
  }
  details {
        padding: .5em .5em 0;
    }

    summary {
        font-weight: bold;
        font-size: 14px;
        margin: -.5em -.5em 0;
        padding: .2em;
    }

    details[open] {
        padding: .5em;
    }

    details[open] summary {
        border-bottom: 1px solid #aaa;
        margin-bottom: .5em;
    }
.blank {
  display: inline-block;
}